body{
    background-color: #7390a5;
}
h1{
    font-size: 2em;
    margin: 0.67em 37px;
    color: white;
    padding: 20px;
}
header{
    background-color: #34495E;
}
.menu, .submenu, .subsubmenu {
    padding:0;
    margin:0;
    list-style:none;
    }
.menu>li{
    display: inline-block;
    position: relative;

}
nav a{
    display: block;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #F5F5F5;
}
.menu {
    position: relative;
    padding: 0 20px;
}
.submenu {
    position: absolute;
    display: none;
}
.menu>li:first-child:hover .submenu{
    display: block;
    left: 19px;
}
nav a:hover {
    background-color: #F5E7E4 ;
    border: 1px solid #E5E5E5; ;
}
.menu>li:first-child:hover .submenu .subsubmenu, .menu>li:nth-child(3):hover .submenu .subsubmenu{
    position: absolute;
    left: 186px;
    display: none;
    top: 97px;
}

.menu>li:first-child:hover .submenu>li:nth-child(3):hover .subsubmenu, .menu>li:nth-child(3):hover .submenu>li:nth-child(3):hover .subsubmenu{
    display: block;
   }
.menu>li:nth-child(3):hover .submenu{
    display: block;
    left: 19px;
}
